<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Josh & Alicia | April 20, 2013</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="@Url.Content("~/Content/reset.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/site.min.css")" />

    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.min.js")"></script>
</head>
<body>
    <div>
        <header>
            <h1>Josh & Alicia</h1>
            <h2>April 20, 2013</h2>
        </header>
        @RenderBody()
    </div>

    <!-- TODO:
        - Addresses for ceremony and reception
        - Maps/directions for ceremony and reception
        - Hotel info
        - Gift registry info
        - More photos ?
        - Guestbook sort of thing ?
    -->

</body>
</html>
